@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><strong>Developer: </strong>@ViewData["Developer"]</p>

    <h4><strong>Contact:</strong></h4>
<address>
    <strong>Cellphone: </strong> @ViewData["Cellphone"]<br />
    <strong>E-mail: </strong> @ViewData["Email"]<br />
    <strong>Linkedin: </strong><a href="https://www.linkedin.com/in/tiagobarbosaf/">Linkedin</a><br />
    <strong>GitHub: </strong><a href="https://github.com/tiagoBarbosaF">GitHub</a>
</address>
